:root {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.mask {
  position: absolute;
  inset: 0;
  background-image: url(akutski.png);
  -webkit-mask-image: url(my-mask.png);
  mask-image: url(my-mask.png);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: 0% 0%;

  transition:
    -webkit-mask-position 500ms steps(12);
}

.mask:hover {
  -webkit-mask-position: 100% 0%;
}